coverage
node_modules
.kube
.envrc*
.vscode
.REST
vcs.xml
Project_Default.xml
modules.xml
misc.xml
venona.iml
encodings.xml
yarn-error.log
.idea/*
telepresence.log
venonactl/dist/*
venonactl-linux
venonalog.json
.venonaconf
.cover
