apiVersion: v2
description: A Helm chart for Codefresh Runner
name: cf-runtime
version: 6.3.6
keywords:
  - codefresh
  - runner
home: https://codefresh.io/
icon: https://avatars1.githubusercontent.com/u/11412079?v=3
sources:
  - https://github.com/codefresh-io/venona
maintainers:
  - name: codefresh
    url: https://codefresh-io.github.io/
annotations:
  artifacthub.io/changes: |
    - kind: fixed
      description: Update codefresh/kubectl and codefresh/cf-k8s-agent images
dependencies:
  - name: cf-common
    repository: oci://quay.io/codefresh/charts
    version: 0.16.0
