apiVersion: v2
description: A Helm chart for Codefresh Runner
name: cf-runtime
version: 3.0.8
keywords:
  - codefresh
  - runner
home: https://codefresh.io/
icon: https://avatars1.githubusercontent.com/u/11412079?v=3
sources:
  - https://github.com/codefresh-io/venona
maintainers:
  - name: codefresh
    url: https://codefresh-io.github.io/
annotations:
  artifacthub.io/changes: |
    - kind: fixed
      description: Fix security context for dind-lv-monitor (OpenShift support)
dependencies:
  - name: cf-common
    repository: https://chartmuseum.codefresh.io/cf-common
    version: 0.11.1
