{{- define "runtime.runtime-environment-spec.template" }}
{{- $cfCommonTplSemver := printf "cf-common-%s" (index .Subcharts "cf-common").Chart.Version -}}
{{- $kubeconfigFilePath := (include "runtime.runtime-environment-spec.runtime-name" .) -}}
{{- $name := (include "runtime.runtime-environment-spec.runtime-name" .) -}}
{{- $engineContext := .Values.runtime.engine -}}
{{- $dindContext := .Values.runtime.dind -}}
{{- $imageRegistry := .Values.global.imageRegistry -}}
metadata:
  name: {{ include "runtime.runtime-environment-spec.runtime-name" . }}
  agent: {{ .Values.runtime.agent }}
{{- if not .Values.runtime.agent }}
accounts: {{- toYaml .Values.runtime.accounts | nindent 2 }}
{{- end }}
runtimeScheduler:
  type: KubernetesPod
  {{- if $engineContext.image }}
  image: {{ include (printf "%s.image.name" $cfCommonTplSemver ) (dict "image" $engineContext.image "context" .) | squote }}
  {{- end }}
  {{- with $engineContext.command }}
  command: {{- toYaml . | nindent 4 }}
  {{- end }}
  envVars:
  {{- with $engineContext.env }}
   {{- toYaml . | nindent 4 }}
  {{- end }}
    COMPOSE_IMAGE: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.COMPOSE_IMAGE) }}'
    CONTAINER_LOGGER_IMAGE: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.CONTAINER_LOGGER_IMAGE) }}'
    DOCKER_BUILDER_IMAGE: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.DOCKER_BUILDER_IMAGE) }}'
    DOCKER_PULLER_IMAGE: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.DOCKER_PULLER_IMAGE) }}'
    DOCKER_PUSHER_IMAGE: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.DOCKER_PUSHER_IMAGE) }}'
    DOCKER_TAG_PUSHER_IMAGE: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.DOCKER_TAG_PUSHER_IMAGE) }}'
    FS_OPS_IMAGE: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.FS_OPS_IMAGE) }}'
    GIT_CLONE_IMAGE: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.GIT_CLONE_IMAGE) }}'
    KUBE_DEPLOY: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.KUBE_DEPLOY) }}'
    PIPELINE_DEBUGGER_IMAGE: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.PIPELINE_DEBUGGER_IMAGE) }}'
    TEMPLATE_ENGINE: '{{ include "runtime.runtimeImageName" (dict "registry" $imageRegistry "imageFullName" $engineContext.runtimeImages.TEMPLATE_ENGINE) }}'
  {{- with $engineContext.userEnvVars }}
  userEnvVars:  {{- toYaml . | nindent 2 }}
  {{- end }}
  {{- with $engineContext.workflowLimits }}
  workflowLimits: {{ toYaml . | nindent 4 }}
  {{- end }}
  cluster:
    namespace: {{ .Release.Namespace }}
    serviceAccount: {{ $engineContext.serviceAccount }}
    {{- if .Values.runtime.agent }}
    clusterProvider:
      accountId: {{ .Values.global.accountId }}
      selector: {{ include "runtime.runtime-environment-spec.context-name" . }}
    {{- else }}
      {{- if .Values.runtime.inCluster }}
    inCluster: true
    kubeconfigFilePath: null
      {{- else }}
    name: {{ $name }}
    kubeconfigFilePath: {{ printf "/etc/kubeconfig/%s" $kubeconfigFilePath }}
      {{- end }}
    {{- end }}
    {{- with $engineContext.nodeSelector }}
    nodeSelector: {{- toYaml . | nindent 6 }}
    {{- end }}
  {{- with $engineContext.affinity }}
  affinity:  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $engineContext.tolerations }}
  tolerations:  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $engineContext.podAnnotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- if $engineContext.schedulerName }}
  schedulerName: {{ $engineContext.schedulerName }}
  {{- end }}
  resources:
  {{- if $engineContext.resources}}
  {{- toYaml $engineContext.resources | nindent 4 }}
  {{- end }}
dockerDaemonScheduler:
  type: DindKubernetesPod
  {{- if $dindContext.image }}
  dindImage: {{ include (printf "%s.image.name" $cfCommonTplSemver ) (dict "image" $dindContext.image "context" .) | squote }}
  {{- end }}
  {{- with $dindContext.userAccess }}
  userAccess: {{ . }}
  {{- end }}
  {{- with $dindContext.env }}
  env: {{- toYaml . | nindent 4 }}
  {{- end }}
  cluster:
    namespace: {{ .Release.Namespace }}
    serviceAccount: {{ $dindContext.serviceAccount }}
    {{- if .Values.runtime.agent }}
    clusterProvider:
      accountId: {{ .Values.global.accountId }}
      selector: {{ include "runtime.runtime-environment-spec.context-name" . }}
    {{- else }}
      {{- if .Values.runtime.inCluster }}
    inCluster: true
    kubeconfigFilePath: null
      {{- else }}
    name: {{ $name }}
    kubeconfigFilePath: {{ printf "/etc/kubeconfig/%s" $kubeconfigFilePath }}
      {{- end }}
    {{- end }}
    {{- with $dindContext.nodeSelector }}
    nodeSelector: {{- toYaml . | nindent 6 }}
    {{- end }}
  {{- with $dindContext.affinity }}
  affinity:  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $dindContext.tolerations }}
  tolerations: {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $dindContext.podAnnotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- if $dindContext.schedulerName }}
  schedulerName: {{ $dindContext.schedulerName }}
  {{- end }}
  {{- if $dindContext.pvcs }}
  pvcs:
  {{- range $index, $pvc := $dindContext.pvcs }}
    - name: {{ $pvc.name }}
      reuseVolumeSelector: {{ $pvc.reuseVolumeSelector | squote }}
      reuseVolumeSortOrder: {{ $pvc.reuseVolumeSortOrder }}
      storageClassName: {{ include (printf "%v.tplrender" $cfCommonTplSemver) (dict "Values" $pvc.storageClassName "context" $) }}
      volumeSize: {{ $pvc.volumeSize }}
  {{- end }}
  {{- end }}
  defaultDindResources:
  {{- with $dindContext.resources }}
  {{- if not .requests }}
    limits: {{- toYaml .limits | nindent 6 }}
    requests: null
  {{- else }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
  {{- with $dindContext.terminationGracePeriodSeconds }}
  terminationGracePeriodSeconds: {{ . }}
  {{- end }}
  {{- with $dindContext.userVolumeMounts }}
  userVolumeMounts: {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with $dindContext.userVolumes }}
  userVolumes: {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- if and (not .Values.runtime.agent)  }}
  clientCertPath: /etc/ssl/cf/
  volumeMounts:
    codefresh-certs-server:
      name: codefresh-certs-server
      mountPath: /etc/ssl/cf
      readOnly: false
  volumes:
    codefresh-certs-server:
      name: codefresh-certs-server
      secret:
        secretName: codefresh-certs-server
  {{- end }}
extends: {{- toYaml .Values.runtime.runtimeExtends | nindent 2 }}
  {{- if .Values.runtime.description }}
description: {{ . }}
  {{- else }}
description: null
  {{- end }}
accountId: {{ .Values.global.accountId }}
{{- end }}