apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: {{.Env.AGENT_NAME}}
    version: {{.Env.AGENT_VERSION}}
  name: {{.Env.APP_NAME}}
  namespace: {{.Env.AGENT_NAMESPACE}}
spec:
  replicas: 1
  revisionHistoryLimit: 5
  strategy:
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 50%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{.Env.AGENT_NAME}}
        version: {{.Env.AGENT_VERSION}}
    spec:
      serviceAccountName: {{.Env.APP_NAME}}
      containers:
      - env:
        - name: SELF_DEPLOYMENT_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: CODEFRESH_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{.Env.APP_NAME}}
              key: codefresh.token
        - name: CODEFRESH_HOST
          value: {{.Env.CODEFRESH_HOST}}
        - name: AGENT_MODE
          value: {{.Env.AGENT_MODE}}
        - name: AGENT_NAME
          value: {{.Env.AGENT_NAME}}
        image: {{.Env.AGENT_IMAGE_NAME }}:{{.Env.AGENT_IMAGE_TAG}}
        imagePullPolicy: Always
        name: {{.Env.AGENT_NAME}}
      restartPolicy: Always
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{.Env.APP_NAME}}
  namespace: {{.Env.AGENT_NAMESPACE}}
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["create", "delete"]

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{.Env.APP_NAME}}
  namespace: {{.Env.AGENT_NAMESPACE}}
subjects:
- kind: ServiceAccount
  name: {{.Env.APP_NAME}}
roleRef:
  kind: Role
  name: {{.Env.APP_NAME}}
  apiGroup: rbac.authorization.k8s.io

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{.Env.APP_NAME }}-cluster-role-bindng
subjects:
- kind: ServiceAccount
  name: {{.Env.APP_NAME}}
  namespace: {{.Env.AGENT_NAMESPACE}}
roleRef:
  kind: ClusterRole
  name: system:discovery
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{.Env.APP_NAME}}
  namespace: {{.Env.AGENT_NAMESPACE}}

---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{.Env.APP_NAME}}
  namespace: {{.Env.AGENT_NAMESPACE}}
data:
  codefresh.token: {{.Env.CODEFRESH_TOKEN_B64_ENCODED}}
