volumeProvisioner:
  env:
    IS_ROOTLESS: true
  dind-lv-monitor:
    image:
      tag: 1.30.3-rootless
      digest: sha256:290508be2c5b03c81d1ea5f26c3498460609fead4cb824d6065b1e09132f8a7a
    containerSecurityContext:
      runAsUser: 1000
    podSecurityContext:
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    volumePermissions:
      enabled: true

runtime:
  dind:
    image:
      tag: 28.5.2-3.0.8-rootless
      digest: sha256:cc5f2f5db98b5c7c98361b15dddd815f7f269cb960fc4ec62f48a8181f5f4556
    userVolumeMounts:
      dind:
        name: dind
        mountPath: /home/rootless/.local/share/docker
    containerSecurityContext:
      privileged: true
      runAsUser: 1000
    podSecurityContext:
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    volumePermissions:
      enabled: true
