volumeProvisioner:
  env:
    IS_ROOTLESS: true
  dind-lv-monitor:
    image:
      tag: 1.30.4-rootless
      digest: sha256:c98672a69810268f1ebd7b2a7ac6ff10493d3514a5a8e190bad53f3f8a76448d
    containerSecurityContext:
      runAsUser: 1000
    podSecurityContext:
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    volumePermissions:
      enabled: true

runtime:
  dind:
    image:
      tag: 28.5.2-3.0.8-rootless
      digest: sha256:f4e60317d9e3ce1a11b3f1c47ee078f5c842a7a7439f1a1f5fee270f23512a62
    userVolumeMounts:
      dind:
        name: dind
        mountPath: /home/rootless/.local/share/docker
    containerSecurityContext:
      privileged: true
      runAsUser: 1000
    podSecurityContext:
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
    volumePermissions:
      enabled: true
